/* Fonte(s) */

@font-face {
	font-family: 'Ubuntu Light';
	src: url('fonts/Ubuntu-L.ttf');
}
* {
	font-family: 'Ubuntu Light';
	font-size: 16px;
}
/* Tela de carregamento */

body {
	background: rgba(21, 21, 21, 1.0);
}
#slogan {
	display: block;
	width: 70%;
	margin: auto;
	position: relative;
	top: 10%;
}
#psalm {
	color: rgba(240, 240, 240, 1.0);
	background: rgba(47, 96, 246, 0.3);
	max-width: 75%;
	font-size: 22px;
	margin: auto;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	letter-spacing: 1px;
	position: relative;
	top: -10%;
}
